<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdas.bi.dao.QualityBoardMapper">
	<sql id="alarmTimeSearch">
		<if test="startTime !='' and startTime!=null and startTime !='undefined'">
			and ALARM_DATETIME &gt; #{startTime}
		</if>
		<if test="endTime !='' and endTime!=null and endTime !='undefined'">
			and ALARM_DATETIME &lt; #{endTime}
		</if>
	</sql>
	<sql id="wvTimeSearch">
		<if test="startTime !='' and startTime!=null and startTime !='undefined'">
			and WVDATZEIT &gt; #{startTime}
		</if>
		<if test="endTime !='' and endTime!=null and endTime !='undefined'">
			and WVDATZEIT &lt; #{endTime}
		</if>
	</sql>
	<select id="getTeilAlarmCountData" parameterType="cn.qdas.bi.bean.QualityBoard" resultType="map">
		SELECT
		DISTINCT t.TETEIL, t.TETEILNR, t.TEBEZEICH,
		(SELECT COUNT(*) FROM WERTEVAR WHERE WVTEIL = t.TETEIL <include refid="wvTimeSearch"/>) AS wvCount, 
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=0 AND t.TETEIL = K1000 <include refid="alarmTimeSearch"/>) AS alarmCount0,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=1 AND t.TETEIL = K1000 <include refid="alarmTimeSearch"/>) AS alarmCount1,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=2 AND t.TETEIL = K1000 <include refid="alarmTimeSearch"/>) AS alarmCount2,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=16 AND t.TETEIL = K1000 <include refid="alarmTimeSearch"/>) AS alarmCount16,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=32 AND t.TETEIL = K1000 <include refid="alarmTimeSearch"/>) AS alarmCount32,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=65536 AND t.TETEIL = K1000 <include refid="alarmTimeSearch"/>) AS alarmCount65536
		FROM TEIL t
		LEFT JOIN ALARM_VALUES a ON t.TETEIL = a.K1000
		WHERE 1 = 1 AND TEERZEUGNIS = #{productLineName}
		<if test="teilNum !='' and teilNum !=null">
			and TETEILNR like concat ('%',#{teilNum},'%')
		</if>
		<if test="teilName !='' and teilName !=null">
			and TEBEZEICH like concat ('%',#{teilName},'%')
		</if>
		GROUP BY t.TETEIL, t.TETEILNR, t.TEBEZEICH
		ORDER BY t.TETEIL
	</select>
	<select id="getMerkmalAlarmCountData" parameterType="cn.qdas.bi.bean.QualityBoard" resultType="map">
		SELECT
		DISTINCT m.MEMERKMAL,M.METEIL,m.MEMERKBEZ,MEMERKNR,
		(SELECT COUNT(*) FROM WERTEVAR WHERE WVTEIL =#{teilId} AND WVMERKMAL=m.MEMERKMAL <include refid="wvTimeSearch"/>) AS wvCount,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=0 AND m.METEIL = K1000 AND m.MEMERKMAL=K2000
		<include refid="alarmTimeSearch"/>
		) AS alarmCount0,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=1 AND m.METEIL = K1000 AND m.MEMERKMAL=K2000
		<include refid="alarmTimeSearch"/>
		 ) AS alarmCount1,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=2 AND m.METEIL = K1000 AND m.MEMERKMAL=K2000
		<include refid="alarmTimeSearch"/>
		 ) AS alarmCount2,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=16 AND m.METEIL = K1000 AND m.MEMERKMAL=K2000
		<include refid="alarmTimeSearch"/>
		 ) AS alarmCount16,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=32 AND m.METEIL = K1000 AND m.MEMERKMAL=K2000
		<include refid="alarmTimeSearch"/>
		 ) AS alarmCount32,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=65536 AND m.METEIL = K1000 AND m.MEMERKMAL=K2000
		<include refid="alarmTimeSearch"/>
		 ) AS alarmCount65536
		FROM MERKMAL m
		LEFT JOIN ALARM_VALUES a ON m.METEIL = a.K1000 AND m.MEMERKMAL = a.K2000
		WHERE m.METEIL =#{teilId}
		<if test="merkmalName !='' and merkmalName !=null">
			and MEMERKBEZ like concat ('%',#{merkmalName},'%')
		</if>
		GROUP BY m.METEIL, m.MEMERKMAL, m.MEMERKBEZ,MEMERKNR
		ORDER BY m.MEMERKMAL
	</select>
	<select id="getWertevarChartData" parameterType="cn.qdas.bi.bean.QualityBoard" resultType="map">
		select w.WVTEIL,w.WVMERKMAL,w.WVWERTNR,w.WVWERT,w.WVDATZEIT,m.MEUGW,m.MEOGW,m.MENENNMAS,m.MEMERKART,
		p.PRVORNAME,
		r.PMBEZ
		FROM WERTEVAR w
		LEFT JOIN MERKMAL m ON w.WVTEIL=m.METEIL AND w.WVMERKMAL=m.MEMERKMAL
		LEFT JOIN PRUEFER p ON CONCAT(w.WVPRUEFER,'')=p.PRPRUEFER
		LEFT JOIN PRUEFMIT r ON w.WVPRUEFMIT = r.PMPRUEFMIT
		where WVMERKMAL=#{merkmalId} and WVTEIL=#{teilId}
		<if test="startTime !='' and startTime!=null and startTime !='undefined'">
			and w.WVDATZEIT &gt; #{startTime}
		</if>
		<if test="endTime !='' and endTime!=null and endTime !='undefined'">
			and w.WVDATZEIT &lt; #{endTime}
		</if>
		ORDER BY w.WVWERTNR
	</select>
	
	<select id="getWertevarDate" parameterType="cn.qdas.bi.bean.QualityBoard" resultType="map">
		select w.WVTEIL,w.WVMERKMAL,w.WVWERTNR,w.WVWERT,w.WVPRUEFER,w.WVPRUEFMIT,w.WVMASCHINE,w.WVNEST,w.WVDATZEIT,
		p.PRVORNAME,
		r.PMNR,r.PMBEZ,
		m.MEUGW,m.MEOGW,m.MENENNMAS,m.MEMERKART
		from WERTEVAR w 
		LEFT JOIN PRUEFER p ON CONCAT(w.WVPRUEFER,'')=p.PRPRUEFER 
		LEFT JOIN PRUEFMIT r ON w.WVPRUEFMIT = r.PMPRUEFMIT
		LEFT JOIN MERKMAL m ON W.WVTEIL=m.METEIL AND w.WVMERKMAL=m.MEMERKMAL
		where WVMERKMAL=#{merkmalId} and WVTEIL=#{teilId}
		<if test="startTime !='' and startTime!=null and startTime !='undefined'">
			and w.WVDATZEIT &gt; #{startTime}
		</if>
		<if test="endTime !='' and endTime!=null and endTime !='undefined'">
			and w.WVDATZEIT &lt; #{endTime}
		</if>
		<if test="sort !='' and sort!=null">
			order by ${sort} ${order}
		</if>
	</select>
	
	
	<!-- NEW -->
	<resultMap type="cn.qdas.core.bean.User" id="userMap">
		<id property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="userAccount" column="user_account"/>
		<result property="locked" column="locked"/>
	</resultMap>
	<resultMap type="cn.qdas.core.bean.Role" id="roleMap">
		<id property="roleId" column="role_id"/>
		<result property="roleName" column="role_name"/>
		<result property="available" column="available"/>
	</resultMap>
	<resultMap type="cn.qdas.bi.bean.QbProductLine" id="productLineMap">
		<id property="productLineId" column="permission_id"/>
		<result property="productLineName" column="permission_name"/>
	</resultMap>
	<resultMap type="cn.qdas.bi.bean.QbTeil" id="qbTeilMap">
		<id property="teilId" column="TETEIL"/>
		<result property="teilNum" column="TETEILNR"/>
		<result property="teilName" column="TEBEZEICH"/>
	</resultMap>
	<resultMap type="cn.qdas.bi.bean.QbAlarmValues" id="qbAlarmValuesMap">
		<id property="alarmValuesId" column="ALARM_ID"/>
		<result property="alarmEw" column="ALARM_EW"/>
		<result property="alarmDate" column="ALARM_DATETIME"/>
	</resultMap>
	
	<resultMap type="cn.qdas.core.bean.User" id="userRoleListMap" extends="userMap">
		<collection property="roleList"  resultMap="rolePermissionListMap" />
	</resultMap>
	<resultMap type="cn.qdas.core.bean.Role" id="rolePermissionListMap" extends="roleMap">
		<collection property="qbProductLineList" resultMap="productLineMap"/>
	</resultMap>
	<resultMap type="cn.qdas.bi.bean.QbProductLine" id="productLineTeilListMap" extends="productLineMap">
		<collection property="qbTeilList" resultMap="teilAlarmsMap"></collection>
	</resultMap>
	<resultMap type="cn.qdas.bi.bean.QbTeil" id="teilAlarmsMap" extends="qbTeilMap">
		<collection property="qbAlarmValuesList" resultMap="qbAlarmValuesMap"></collection>
	</resultMap>
	<select id="getAlarmCountByProductLine" parameterType="java.lang.String" resultType="map">
		SELECT
		DISTINCT t.TEERZEUGNIS,
		(SELECT COUNT(*) FROM WERTEVAR WHERE WVTEIL IN (SELECT DISTINCT TETEIL FROM TEIL WHERE TEERZEUGNIS=t.TEERZEUGNIS) <include refid="wvTimeSearch"/> ) AS wvCount,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=0 AND K1000 IN (SELECT DISTINCT TETEIL FROM TEIL WHERE TEERZEUGNIS=t.TEERZEUGNIS) <include refid="alarmTimeSearch"/>) AS alarmCount0,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=1 AND K1000 IN (SELECT DISTINCT TETEIL FROM TEIL WHERE TEERZEUGNIS=t.TEERZEUGNIS) <include refid="alarmTimeSearch"/>) AS alarmCount1,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=2 AND K1000 IN (SELECT DISTINCT TETEIL FROM TEIL WHERE TEERZEUGNIS=t.TEERZEUGNIS) <include refid="alarmTimeSearch"/>) AS alarmCount2,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=16 AND K1000 IN (SELECT DISTINCT TETEIL FROM TEIL WHERE TEERZEUGNIS=t.TEERZEUGNIS) <include refid="alarmTimeSearch"/>) AS alarmCount16,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=32 AND K1000 IN (SELECT DISTINCT TETEIL FROM TEIL WHERE TEERZEUGNIS=t.TEERZEUGNIS) <include refid="alarmTimeSearch"/>) AS alarmCount32,
		(SELECT COUNT(ALARM_EW) FROM ALARM_VALUES WHERE ALARM_EW=65536 AND K1000 IN (SELECT DISTINCT TETEIL FROM TEIL WHERE TEERZEUGNIS=t.TEERZEUGNIS) <include refid="alarmTimeSearch"/>) AS alarmCount65536
		FROM TEIL t
		where t.TEERZEUGNIS in
		<foreach collection="productLineNames" open="(" close=")" separator="," item="item" index="i">
					#{item}
		</foreach>
		GROUP BY t.TEERZEUGNIS,t.TETEIL
		ORDER BY t.TEERZEUGNIS
	</select>
	<select id="getQbFormData" parameterType="java.lang.String" resultType="map">
		SELECT t.TETEIL,t.TETEILNR,t.TEBEZEICH,t.TEERZEUGNIS,
			m.MEMERKMAL,m.MEMERKBEZ,m.MENENNMAS,m.MEMERKART,m.MEUGW,m.MEOGW,
			COUNT (w.WVDATZEIT) AS wercount
			FROM TEIL t
			LEFT JOIN MERKMAL m ON t.TETEIL=m.METEIL
			LEFT JOIN WERTEVAR w ON t.TETEIL = w.WVTEIL AND m.MEMERKMAL = w.WVMERKMAL
			WHERE t.TEERZEUGNIS IN 
			<foreach collection="productLineNames" open="(" close=")" separator="," item="item" index="i">
					#{item}
			</foreach>
			<if test="startTime !='' and startTime!=null and startTime !='undefined'">
				and w.WVDATZEIT &gt; #{startTime}
			</if>
			<if test="endTime !='' and endTime!=null and endTime !='undefined'">
				and w.WVDATZEIT &lt; #{endTime}
			</if>
			GROUP BY t.TETEIL,t.TETEILNR,t.TEBEZEICH,t.TEERZEUGNIS,m.MEMERKMAL,m.MEMERKBEZ,m.MENENNMAS,m.MEMERKART,m.MEUGW,m.MEOGW
			ORDER BY t.TEERZEUGNIS,t.TETEIL,m.MEMERKMAL
	
	</select>
	<select id="getQbTeilFormData" parameterType="java.lang.String" resultType="map">
		SELECT t.TETEIL,t.TETEILNR,t.TEBEZEICH,t.TEERZEUGNIS,
			m.MEMERKMAL,m.MEMERKBEZ,m.MENENNMAS,m.MEMERKART,m.MEUGW,m.MEOGW,
			COUNT (w.WVDATZEIT) AS wercount
			FROM TEIL t
			LEFT JOIN MERKMAL m ON t.TETEIL=m.METEIL
			LEFT JOIN WERTEVAR w ON t.TETEIL = w.WVTEIL AND m.MEMERKMAL = w.WVMERKMAL
			WHERE t.TETEIL=#{teilId}
			<if test="startTime !='' and startTime!=null and startTime !='undefined'">
				and w.WVDATZEIT &gt; #{startTime}
			</if>
			<if test="endTime !='' and endTime!=null and endTime !='undefined'">
				and w.WVDATZEIT &lt; #{endTime}
			</if>
			GROUP BY t.TETEIL,t.TETEILNR,t.TEBEZEICH,t.TEERZEUGNIS,m.MEMERKMAL,m.MEMERKBEZ,m.MENENNMAS,m.MEMERKART,m.MEUGW,m.MEOGW
			ORDER BY t.TEERZEUGNIS,t.TETEIL,m.MEMERKMAL
	
	</select>
	<select id="getQbTableData" parameterType="java.lang.String" resultType="map">
		select w.WVTEIL,w.WVMERKMAL,w.WVWERTNR,w.WVWERT,w.WVPRUEFER,w.WVPRUEFMIT,w.WVMASCHINE,w.WVNEST,w.WVDATZEIT,
		p.PRVORNAME,
		r.PMNR,r.PMBEZ,
		a.ALARM_EW
		from WERTEVAR w 
		LEFT JOIN ALARM_VALUES a ON w.WVTEIL=a.K1000 AND w.WVMERKMAL=a.K2000 AND w.WVWERTNR=A.K0000
		LEFT JOIN PRUEFER p ON CONCAT(w.WVPRUEFER,'')=p.PRPRUEFER
		LEFT JOIN PRUEFMIT r ON w.WVPRUEFMIT = r.PMPRUEFMIT
		where w.WVTEIL=#{teilId} AND w.WVMERKMAL=#{merkmalId}
		<if test="startTime !='' and startTime!=null and startTime !='undefined'">
				and w.WVDATZEIT &gt; #{startTime}
			</if>
			<if test="endTime !='' and endTime!=null and endTime !='undefined'">
				and w.WVDATZEIT &lt; #{endTime}
			</if>
		ORDER BY w.WVWERTNR
	</select>
</mapper>