<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdas.bi.dao.QualityBoardMapper">
	<select id="getProductLine" parameterType="cn.qdas.bi.bean.QualityBoard" resultType="map">
		SELECT DISTINCT TEERZEUGNIS FROM TEIL where 1=1
		<if test="productLineName !='' and productLineName !=null">
			and TEERZEUGNIS like concat ('%',#{productLineName},'%')
		</if>
	</select>
	<select id="getTeilData" parameterType="cn.qdas.bi.bean.QualityBoard" resultType="map">
		select TETEIL,TETEILNR,TEBEZEICH,TEWERKSTOFFNR from TEIL where 1=1 and TEERZEUGNIS = #{productLineName}
		<if test="teilNum !='' and teilNum !=null">
			and TETEILNR like concat ('%',#{teilNum},'%')
		</if>
		<if test="teilName !='' and teilName !=null">
			and TEBEZEICH like concat ('%',#{teilName},'%')
		</if>
	</select>
	<select id="getMerkmalData" parameterType="cn.qdas.bi.bean.QualityBoard" resultType="map">
		select METEIL,MEMERKMAL,MEMERKNR,MEMERKBEZ,MENENNMAS,MEUGW,MEOGW from MERKMAL where METEIL=#{teilId}
		<if test="merkmalName !='' and merkmalName !=null">
			and MEMERKBEZ like concat ('%',#{merkmalName},'%')
		</if>
	</select>
	<select id="getWertevarChartData" parameterType="cn.qdas.bi.bean.QualityBoard" resultType="map">
		select w.WVTEIL,w.WVMERKMAL,w.WVWERTNR,w.WVWERT,w.WVPRUEFER,w.WVPRUEFMIT,w.WVMASCHINE,w.WVNEST,w.WVDATZEIT,m.MEUGW,m.MEOGW
		FROM WERTEVAR w
		LEFT JOIN MERKMAL m ON w.WVTEIL=m.METEIL AND w.WVMERKMAL=m.MEMERKMAL
		where WVMERKMAL=#{merkmalId} and WVTEIL=#{teilId}
	</select>
	
	<select id="getWertevarDate" parameterType="cn.qdas.bi.bean.QualityBoard" resultType="map">
		select w.WVTEIL,w.WVMERKMAL,w.WVWERTNR,w.WVWERT,w.WVPRUEFER,w.WVPRUEFMIT,w.WVMASCHINE,w.WVNEST,w.WVDATZEIT,
		p.PRVORNAME,
		r.PMNR,r.PMBEZ,
		m.MEUGW,m.MEOGW
		from WERTEVAR w 
		LEFT JOIN PRUEFER p ON CONCAT(w.WVPRUEFER,'')=p.PRNAME 
		LEFT JOIN PRUEFMIT r ON w.WVPRUEFMIT = r.PMPRUEFMIT
		LEFT JOIN MERKMAL m ON W.WVTEIL=m.METEIL AND w.WVMERKMAL=m.MEMERKMAL
		where WVMERKMAL=#{merkmalId} and WVTEIL=#{teilId}
		<if test="startTime !='' and startTime!=null">
			and WVDATZEIT &gt; #{startTime}
		</if>
		<if test="endTime !='' and endTime!=null">
			and WVDATZEIT &lt; #{endTime}
		</if>
		<if test="sort !='' and sort!=null">
			order by ${sort} ${order}
		</if>
	</select>
</mapper>